@model List<ScanNPay.Repository.ProductCategories>
@{
    ViewData["Title"] = "Order";
}
<div class="text-center">
    <h1 class="display-4">Order</h1>
    <div class="row">
        <img src="~/people.svg" width="80%" />
    </div>
    <div class="row" style="padding-top:30px;">
        <p>@TempData["response"]</p>
    </div>
</div>
